<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Index</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse nav-buttons" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/" title="Back to Home page">
                                Home
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/analysis_form" title="To analysis form">
                                Driving behaviour information
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>

        <section class="mt-5 pt-5">
            <div class="text-center mt-5 pt-5">
                <h1 class="mb-5">COMP4442 Group project</h1>
                <h2><a href="/analysis_form">Driving behaviour analysis</a></h2>
            </div>
        </section>

    </body>
</html>